<h1>New game</h1>
<br>
<% @letters.each do |letter| %>
<%= letter %>
<% end %>
<br>
 <form action="score" method="post" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="exampleInputEmail1">What is the longest word you can find?</label>
    <input type="text" name="word">
    <input type="submit" value="Ask!">
  </form>
<br>
